<ion-header>
  <ion-navbar>
    <ion-title>
      Wiki
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
    <ion-card (click)="loadWiki('people', 'Personnages')">
      <img src="/assets/imgs/categories/people.jpg"/>
      <div class="card-title">Personnages</div>
      <div class="card-subtitle">41 Résultats</div>
    </ion-card>
  
    <ion-card (click)="loadWiki('starships', 'Vaisseaux')">
      <img src="/assets/imgs/categories/starships.jpg"/>
      <div class="card-title">Vaisseaux</div>
      <div class="card-subtitle">64 Résultats</div>
    </ion-card>
  
    <ion-card (click)="loadWiki('vehicles', 'Véhicules')">
      <img src="/assets/imgs/categories/vehicles.jpg"/>
      <div class="card-title">Véhicules</div>
      <div class="card-subtitle">72 Résultats</div>
    </ion-card>
  
    <ion-card (click)="loadWiki('planets', 'Planètes')">
      <img src="/assets/imgs/categories/planets.jpg"/>
      <div class="card-title">Planètes</div>
      <div class="card-subtitle">28 Résultats</div>
    </ion-card>

    <ion-card (click)="loadWiki('films', 'Films')">
        <img src="/assets/imgs/categories/films.jpg"/>
        <div class="card-title">Films</div>
        <div class="card-subtitle">28 Résultats</div>
      </ion-card>

      <ion-card (click)="loadWiki('species', 'Espèces')">
          <img src="/assets/imgs/categories/species.jpg"/>
          <div class="card-title">Espèces</div>
          <div class="card-subtitle">28 Résultats</div>
        </ion-card>
  
  </ion-content>

  <!--
<ion-content padding>
    
    <div *ngIf="!(results$ | async)">
      <h2>Apprenez tous les secrets de la saga Star Wars</h2>
      <button ion-button color="blue" large (click)="loadWiki('people')">Personnages</button><br/>
      <button ion-button color="blue" large (click)="loadWiki('starships')">Vaisseaux</button><br/>
      <button ion-button color="blue" large (click)="loadWiki('vehicles')">Véhicules</button><br/>
      <button ion-button color="blue" large (click)="loadWiki('planets')">Planètes</button><br/>
      <button ion-button color="blue" large (click)="loadWiki('films')">Films</button><br/>
      <button ion-button color="blue" large (click)="loadWiki('species')">Espèces</button>
    </div>
    <p *ngFor="let res of results$ | async">{{res.name}} {{res.url}}</p>
</ion-content>
-->