<ion-header>
  <ion-navbar>
    <ion-title>
      Wiki
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <p *ngIf="!(results$ | async)">Loading...</p>
    <div *ngIf="!(results$ | async)">
      <h2>Apprenez tous les secrets de la saga Star Wars</h2>
      <button ion-button color="blue" large (click)="loadWiki('people')">Personnages</button><br/>
      <button ion-button color="blue" large (click)="loadWiki('starships')">Vaisseaux</button><br/>
      <button ion-button color="blue" large (click)="loadWiki('vehicles')">Véhicules</button><br/>
      <button ion-button color="blue" large (click)="loadWiki('planets')">Planètes</button><br/>
      <button ion-button color="blue" large (click)="loadWiki('films')">Films</button><br/>
      <button ion-button color="blue" large (click)="loadWiki('species')">Espèces</button>
    </div>
    <p *ngFor="let res of results$ | async">{{res.name}} {{res.url}}</p>
</ion-content>
