page-quiz {
    .green{
        background-color: green !important;
    }
    .green:hover{
        background-color: green !important;
    }
    .red{
        background-color: red !important;
    }
    .red:hover{
        background-color: red !important;
    }
}